<div class="container">
  <h2 class="jumbotron bg-dark text-light text-center mt-5">Activités Disponible</h2>
  <div class="mb-3"><a class="btn btn-warning" routerLink="create">Ajouter une Activité</a></div>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Type d'activité </th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let activiter of listActiviter">
        <td>{{ activiter.nom }}</td>
        <td>{{ activiter.description }}</td>
        <td><a class="btn btn-danger "(click)="deleteActiviter(activiter.id)" routerLink="delete/{{activiter.id}}">Supprimer</a></td>
      </tr>
    </tbody>
  </table>
</div>
