<div class="container">
  <h2 class="jumbotron bg-dark text-light text-center mt-3">Création de la Activité</h2>
  <form #f="ngForm" (ngSubmit)="createActiviter(f)" novalidate>
    <div class="form-group">
      <label for="">Nom :</label>
      <input
        class="form-control"
        name="nom"
        placeholder="nom de l'activiter"
        type="text"
        ngModel
        #model="ngModel"
        required
      >
    </div>
      <div class="form-group">
        <label for="">Description :</label>
        <textarea
          class="form-control"
          name="description"
          placeholder="description de l'activiter"
          ngModel
        >
        </textarea>
      </div>
      <!-- <input name="idUser" placeholder="" ngModel> -->
      <button class="btn btn-warning">création</button>
  </form>
</div>
