<div class="container">
  <h2 class="jumbotron bg-dark text-light text-center mt-3"> Création de la Chambre </h2>
  <form #f="ngForm" (ngSubmit)="createReservation(f)" novalidate>
    <div class="form-group">
      <label for="">Nombre de Personne :</label>
      <input
        class="form-control"
        #model="ngModel"
        ngModel
        name="personne"
        placeholder="nombre de personne"
        type="number"
        required
      >
    </div>
    <div class="form-group">
      <label for=""> Date d'Arriver :</label>
      <input
        class="form-control"
        name="dateArriver"
        type="date"
        placeholder="dateArriver"
        ngModel
        required
      >
    </div>
    <div class="form-group">
      <label for="">Date de Départ :</label>
      <input
        class="form-control"
        name="dateDepart"
        type="date"
        placeholder="dateDepart"
        ngModel
        required
      >
    </div>
    <div class="form-group">

      <input
        class="form-control"
        name="idUser"
        type="number"
        placeholder="idUser"
        ngModel="1"
        hidden
      >
    </div>
    <div class="form-group">
      <label for="">Choississez une Chambre :</label>
      <select class="form-control" name="idChambre" ngModel>
        <option  *ngFor="let chambre of ListChambre" value="{{chambre.id}}">{{chambre.adresse}}</option>
      </select>
    </div>
      <!-- <input name="idUser" placeholder="" ngModel> -->
      <button class="btn btn-warning">création</button>
  </form>
</div>
