<div class="container">
  <h2 class="jumbotron bg-dark text-light text-center mt-3"> Modification de la Réservation </h2>
  <form #f="ngForm" (ngSubmit)="updateReservation(f)" novalidate>
    <div class="form-group">
      <label for="">Nombre de Personne :</label>
      <input
        class="form-control"
        #model="ngModel"
        name="nbPersonne"
        ngModel="{{ reservation.personne }}"
        type="number"
        required
      >
    </div>
    <div class="form-group">
      <label for=""> Date d'Arriver :</label>
      <input
        class="form-control"
        name="dateArriver"
        type="date"
        ngModel="{{ reservation.datearriver | date:'yyyy-MM-dd' }}"
        required
      >
    </div>
    <div class="form-group">
      <label for="">Date de Départ :</label>
      <input
        class="form-control"
        name="dateDepart"
        type="date"
        placeholder="dateDepart"
        ngModel="{{ reservation.datedepart | date:'yyyy-MM-dd' }}"
        required
      >
    </div>
    <div class="form-group">

      <input
        class="form-control"
        name="idUser"
        type="number"
        placeholder="idUser"
        ngModel="{{ reservation.iduser }}"
        hidden
      >
    </div>
    <div class="form-group">
      <label for=""> Choississez une Chambre : </label>
      <select class="form-control" name="idChambre" ngModel>
        <option *ngFor="let chambre of listChambre" value="{{ chambre.id }}"> {{ chambre.adresse }} </option>
      </select>
    </div>
      <button class="btn btn-warning">Modifié</button>
  </form>
</div>
