<div class="container">
  <h2 class="jumbotron bg-dark mt-5 text-light text-center"> Réservation Hotel </h2>
  <div class="btn btn-warning mb-3 text-white">Ajouter une Réservation</div>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Date D'Arriver</th>
        <th scope="col">Date de Départ</th>
        <th scope="col">NbPersonne</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listReservation">
        <td>{{ item.datearriver }}</td>
        <td>{{ item.datedepart }}</td>
        <td>{{ item.personne }}</td>
        <td class="btn btn-primary "(click)="updateReservation(item.id)">edit</td>
        <td class="btn btn-danger "(click)="deleteReservation(item.id)">delete</td>
      </tr>
    </tbody>
  </table>
</div>
